<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :book_image_url %>
  </div>

  <div class="field">
    <%= form.label :read_count %>
    <%= form.number_field :read_count, id: :book_read_count %>
  </div>

  <div class="field">
    <%= form.label :page_amount %>
    <%= form.number_field :page_amount, id: :book_page_amount %>
  </div>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid, id: :book_uid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
